/* планшет */
@media only screen and (min-device-width: 700px) and (max-device-width: 1024px) {
  /* первый секшн */
  .header {
    padding-top: 2.604vw;
  }
  .text-data-capture {
    font-size: 4.853vw;
  }

  .data-capture {
    height: 103.951vw;
    padding: 2.604vw;
  }
  .heartline {
    position: absolute;
    top: 67.082vw;
    left: -64.192vw;
    width: 94.792vw;
    height: 31.292vw;
  }
  img.img-heartline {
    width: auto;
  }
  .right-column {
    position: relative;
    height: 64.193vw;
    width: 27.995vw;
    flex-direction: column;
    padding-left: 2.604vw;
  }
  .two-squares {
    flex-direction: column;
    height: 53.672vw;
    width: 27.58vw;
    margin-top: 1.39vw;
  }
  .second-square {
    height: 100%;
    width: 100%;
  }
  .days {
    height: 100%;
    width: 100%;
    border-bottom: none;
  }
  .left-column {
    height: 64.193vw;
    width: 64.193vw;
  }
  /* второй экран  */
  .select-form {
    height: 116.781vw;
  }
  .top-butterfly,
  .bottom-butterfly {
    width: 500vw;
    height: 47vw;
    animation: infinite linear 3s top-butterfly-2;
  }
  .select-line {
    height: 20vw;
    width: auto;
    animation: infinite linear 8s text-line-2;
  }
  .text-select-form {
    height: 20.85vw;
  }
  .text-select-form > p {
    width: 1000vw;
    font-size: 3.67vw;
    animation: infinite linear 3s text-line-3;
  }
  .skelet-1,
  .skelet-2,
  .skelet-3,
  .skelet-4,
  .skelet-5,
  .skelet-6,
  .skelet-7,
  .skelet-8,
  .skelet-9,
  .skelet-10,
  .skelet-1-1,
  .skelet-2-1,
  .skelet-3-1,
  .skelet-4-1,
  .skelet-5-1,
  .skelet-6-1,
  .skelet-7-1,
  .skelet-8-1,
  .skelet-9-1,
  .skelet-10-1 {
    width: 46.595vw;
  }
  /* третий экран */
  .left-column-mind {
    opacity: 0%;
  }
  .left-loading-screen {
    height: auto;
    width: auto;
  }
  .left-column-mind {
    height: auto;
  }
  .mind-exploading {
    flex-direction: column;
    padding: 2.604vw;
    height: 122.333vw;
  }

  .chip-butterfly {
    height: 94.792vw;
    width: 94.792vw;
    left: 2.604vw;
    top: 24vw;
  }

  .bottom-loading {
    height: 20vw;
    width: 100%;
  }
  .blocks {
    height: 15.006vw;
  }
  .blocks-in-box {
    height: 100%;
  }
  .block-1,
  .block-2,
  .block-3,
  .block-3,
  .block-4,
  .block-5,
  .block-6,
  .block-7,
  .block-8,
  .block-9,
  .block-10 {
    width: 8.5vw;
    height: 8.5vw;
  }
  .box-text-loading {
    font-size: 5vw;
    height: 4.994vw;
  }
  .loading-text {
    margin-left: 64vw;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 700px) {
  .data-capture {
    flex-direction: column;
    height: 177.884vw;
    padding: 4.831vw;
  }
  .text-data-capture {
    font-size: 9.812vw;
    text-align: center;
    padding: 2.831vw 0 2vw;
  }
  .header {
    padding-top: 4.831vw;
  }
  .left-column {
    width: 90.338vw;
    height: 90.338vw;
  }
  .right-column {
    width: 90.338vw;
    height: 78.169vw;
    padding-left: 0;
  }
  .heartline {
    width: 90.338vw;
    height: 23vw;
    margin-bottom: 4.831vw;
  }

  .two-squares {
    width: 90.338vw;
    height: 40.338vw;
  }
  .days {
    margin-right: 4.831vw;
  }
  .days > p {
    font-size: 4.7vw;
  }
  .left-column,
  .heartline,
  .days,
  .second-square,
  .skelet-1,
  .skelet-2,
  .skelet-3,
  .skelet-4,
  .skelet-5,
  .skelet-6,
  .skelet-7,
  .skelet-8,
  .skelet-9,
  .skelet-10 {
    border: 0.465vw solid black;
  }

  /* второй экран */
  .select-form {
    height: 125.781vw;
  }
  .top-butterfly,
  .bottom-butterfly {
    width: 500vw;
    height: 47vw;
    animation: infinite linear 3s top-butterfly-2;
  }
  .select-line {
    /* height: 20vw; */
    height: 20vw;
    width: 501.928vw;
    animation: infinite linear 8s text-line-2;
  }
  .text-select-form {
    height: 20.85vw;
  }
  .text-select-form > p {
    width: 1000vw;
    font-size: 3.67vw;
    animation: infinite linear 3s text-line-3;
  }
  .skelet-1,
  .skelet-2,
  .skelet-3,
  .skelet-4,
  .skelet-5,
  .skelet-6,
  .skelet-7,
  .skelet-8,
  .skelet-9,
  .skelet-10,
  .skelet-1-1,
  .skelet-2-1,
  .skelet-3-1,
  .skelet-4-1,
  .skelet-5-1,
  .skelet-6-1,
  .skelet-7-1,
  .skelet-8-1,
  .skelet-9-1,
  .skelet-10-1 {
    border: 0.465vw solid black;
    width: 57.5vw;
  }
  /* третий экран */
  .select-form {
    height: 119.781vw;
  }
  .left-column-mind {
    opacity: 0%;
  }
  .left-loading-screen {
    height: auto;
    width: auto;
  }
  .left-column-mind {
    height: auto;
  }
  .mind-exploading {
    flex-direction: column;
    padding: 2.604vw;
    height: 122.333vw;
  }

  .chip-butterfly {
    height: 94.792vw;
    width: 94.792vw;
    left: 2.604vw;
    top: 24vw;
  }

  .bottom-loading {
    height: 20vw;
    width: 100%;
  }
  .blocks {
    height: 15.006vw;
  }
  .blocks-in-box {
    height: 100%;
  }
  .block-1,
  .block-2,
  .block-3,
  .block-3,
  .block-4,
  .block-5,
  .block-6,
  .block-7,
  .block-8,
  .block-9,
  .block-10 {
    width: 8.5vw;
    height: 8.5vw;
  }
  .box-text-loading {
    font-size: 5vw;
    height: 4.994vw;
  }
  .loading-text {
    margin-left: 64vw;
  }
}
