/* анимация вращения сканнера */
@keyframes cross-scanner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* анимация бегущей линии сердцебиения */
@keyframes img-heartline {
  100% {
    transform: translate(-58%);
  }
}
/* анимация бегущей линии ДНК */
@keyframes img-DNA {
  100% {
    transform: translate(-50%);
  }
}
/* остановка при наведении сканнера */
img.cross-scanner:hover {
  animation-play-state: paused;
}
/* остановка при наведении бегущей линии сердцебиения */
img.img-heartline:hover {
  animation-play-state: paused;
}
/* остановка при наведении бегущей линии ДНК  */
img.img-DNA:hover {
  animation-play-state: paused;
}
/* анимации колонок диаграммы и ховер на остановку при наведении */
@keyframes graph-1 {
  0% {
    height: 40%;
  }
  50% {
    height: 30%;
  }
  100% {
    height: 40%;
  }
}
#graph-1:hover {
  animation-play-state: paused;
}

@keyframes graph-2 {
  0% {
    height: 60%;
  }
  50% {
    height: 50%;
  }
  100% {
    height: 60%;
  }
}
#graph-2:hover {
  animation-play-state: paused;
}

@keyframes graph-3 {
  0% {
    height: 80%;
  }
  50% {
    height: 70%;
  }
  100% {
    height: 80%;
  }
}
#graph-3:hover {
  animation-play-state: paused;
}

@keyframes graph-4 {
  0% {
    height: 70%;
  }
  50% {
    height: 60%;
  }
  100% {
    height: 70%;
  }
}
#graph-4:hover {
  animation-play-state: paused;
}

@keyframes graph-5 {
  0% {
    height: 30%;
  }
  50% {
    height: 20%;
  }
  100% {
    height: 30%;
  }
}
#graph-5:hover {
  animation-play-state: paused;
}

@keyframes graph-6 {
  0% {
    height: 40%;
  }
  50% {
    height: 30%;
  }
  100% {
    height: 40%;
  }
}
#graph-6:hover {
  animation-play-state: paused;
}

@keyframes graph-7 {
  0% {
    height: 25%;
  }
  50% {
    height: 15%;
  }
  100% {
    height: 25%;
  }
}
#graph-7:hover {
  animation-play-state: paused;
}
/* анимации исчезания для графика с днями */
@keyframes bar-color-1 {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
@keyframes bar-color-2 {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
@keyframes bar-color-3 {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
@keyframes bar-color-4 {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
@keyframes bar-color-5 {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
/* анимации для графика с днями цвет при наведении */
.bar-color-1-1:hover {
  opacity: 100%;
}
.bar-color-2-1:hover {
  opacity: 100%;
}
.bar-color-3-1:hover {
  opacity: 100%;
}
.bar-color-4-1:hover {
  opacity: 100%;
}
.bar-color-5-1:hover {
  opacity: 100%;
}
