/* анимация вращения сканнера */
@keyframes cross-scanner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* анимация бегущей линии сердцебиения */
@keyframes img-heartline {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: -100% 50%;
  }
}
/* анимация бегущей линии ДНК */
@keyframes img-DNA {
  100% {
    transform: translate(-50%);
  }
}
/* остановка при наведении сканнера */
img.cross-scanner:hover {
  animation-play-state: paused;
}
/* остановка при наведении бегущей линии сердцебиения */
.heartline:hover {
  animation-play-state: paused;
}
/* остановка при наведении бегущей линии ДНК  */
img.img-DNA:hover {
  animation-play-state: paused;
}
/* анимации колонок диаграммы и ховер на остановку при наведении */
@keyframes graph-1 {
  0% {
    height: 40%;
  }
  50% {
    height: 30%;
  }
  100% {
    height: 40%;
  }
}
#graph-1:hover {
  animation-play-state: paused;
}

@keyframes graph-2 {
  0% {
    height: 60%;
  }
  50% {
    height: 50%;
  }
  100% {
    height: 60%;
  }
}
#graph-2:hover {
  animation-play-state: paused;
}

@keyframes graph-3 {
  0% {
    height: 80%;
  }
  50% {
    height: 70%;
  }
  100% {
    height: 80%;
  }
}
#graph-3:hover {
  animation-play-state: paused;
}

@keyframes graph-4 {
  0% {
    height: 70%;
  }
  50% {
    height: 60%;
  }
  100% {
    height: 70%;
  }
}
#graph-4:hover {
  animation-play-state: paused;
}

@keyframes graph-5 {
  0% {
    height: 30%;
  }
  50% {
    height: 20%;
  }
  100% {
    height: 30%;
  }
}
#graph-5:hover {
  animation-play-state: paused;
}

@keyframes graph-6 {
  0% {
    height: 40%;
  }
  50% {
    height: 30%;
  }
  100% {
    height: 40%;
  }
}
#graph-6:hover {
  animation-play-state: paused;
}

@keyframes graph-7 {
  0% {
    height: 25%;
  }
  50% {
    height: 15%;
  }
  100% {
    height: 25%;
  }
}
#graph-7:hover {
  animation-play-state: paused;
}
/* анимации исчезания для графика с днями */
@keyframes dissapears {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

.pie-color-1:hover {
  fill: #00ffe0;
  opacity: 100%;
}
.pie-color-2:hover {
  fill: #00ffe0;
  opacity: 100%;
}
.pie-color-3:hover {
  fill: #00ffe0;
  opacity: 100%;
}
.pie-color-4:hover {
  fill: #00ffe0;
  opacity: 100%;
}
.pie-color-5:hover {
  fill: #00ffe0;
  opacity: 100%;
}
.top-butterfly:hover {
  animation-play-state: paused;
}
.bottom-butterfly:hover {
  animation-play-state: paused;
}
.color-1:hover {
  opacity: 0%;
}
.color-2:hover {
  opacity: 0%;
}
.color-3:hover {
  opacity: 0%;
}
.color-4:hover {
  opacity: 0%;
}
.color-5:hover {
  opacity: 0%;
}
.color-6:hover {
  opacity: 0%;
}

.color-7:hover {
  opacity: 0%;
}
.color-8:hover {
  opacity: 0%;
}
.color-9:hover {
  opacity: 0%;
}
.color-10:hover {
  opacity: 0%;
}
.color-1-1:hover {
  opacity: 0%;
}
.color-2-1:hover {
  opacity: 0%;
}
.color-3-1:hover {
  opacity: 0%;
}
.color-4-1:hover {
  opacity: 0%;
}
.color-5-1:hover {
  opacity: 0%;
}
.color-6-1:hover {
  opacity: 0%;
}

.color-7-1:hover {
  opacity: 0%;
}
.color-8-1:hover {
  opacity: 0%;
}
.color-9-1:hover {
  opacity: 0%;
}
.color-10-1:hover {
  opacity: 0%;
}
.skelet-1:hover {
  background-image: url(../images/skelet-1.svg);
  background-color: #1c1b22;
}
.skelet-2:hover {
  background-image: url(../images/skelet-2.svg);
  background-color: #1c1b22;
}
.skelet-3:hover {
  background-image: url(../images/skelet-3.svg);
  background-color: #1c1b22;
}
.skelet-4:hover {
  background-image: url(../images/skelet-4.svg);
  background-color: #1c1b22;
}
.skelet-5:hover {
  background-image: url(../images/skelet-5.svg);
  background-color: #1c1b22;
}
.skelet-6:hover {
  background-image: url(../images/skelet-6.svg);
  background-color: #1c1b22;
}
.skelet-7:hover {
  background-image: url(../images/skelet-7.svg);
  background-color: #1c1b22;
}
.skelet-8:hover {
  background-image: url(../images/skelet-8.svg);
  background-color: #1c1b22;
}
.skelet-9:hover {
  background-image: url(../images/skelet-9.svg);
  background-color: #1c1b22;
}
.skelet-10:hover {
  background-image: url(../images/skelet-10.svg);
  background-color: #1c1b22;
}
.skelet-1-1:hover {
  background-image: url(../images/skelet-1.svg);
  background-color: #1c1b22;
}
.skelet-2-1:hover {
  background-image: url(../images/skelet-2.svg);
  background-color: #1c1b22;
}
.skelet-3-1:hover {
  background-image: url(../images/skelet-3.svg);
  background-color: #1c1b22;
}
.skelet-4-1:hover {
  background-image: url(../images/skelet-4.svg);
  background-color: #1c1b22;
}
.skelet-5-1:hover {
  background-image: url(../images/skelet-5.svg);
  background-color: #1c1b22;
}
.skelet-6-1:hover {
  background-image: url(../images/skelet-6.svg);
  background-color: #1c1b22;
}
.skelet-7-1:hover {
  background-image: url(../images/skelet-7.svg);
  background-color: #1c1b22;
}
.skelet-8-1:hover {
  background-image: url(../images/skelet-8.svg);
  background-color: #1c1b22;
}
.skelet-9-1:hover {
  background-image: url(../images/skelet-9.svg);
  background-color: #1c1b22;
}
.skelet-10-1:hover {
  background-image: url(../images/skelet-10.svg);
  background-color: #1c1b22;
}

@keyframes select-line {
  0% {
    transform: translate(-146vw);
  }
  100% {
    transform: translate(-21vw);
  }
}
.select-line:hover {
  animation-play-state: paused;
}

@keyframes text-line {
  0% {
    transform: translate(-143vw);
  }
  100% {
    transform: translate(0px);
  }
}
@keyframes top-butterfly {
  0% {
    margin-left: -100vw;
  }
  100% {
    margin: 0vw;
  }
}
@keyframes circle {
  0% {
    fill: #ff00e5;
  }
  50% {
    fill: none;
  }
  100% {
    fill: #ff00e5;
  }
}
@keyframes text-line-2 {
  0% {
    transform: translate(-367vw);
  }
  100% {
    transform: translate(0vw);
  }
}

@keyframes text-line-3 {
  0% {
    transform: translate(-176vw);
  }
  100% {
    transform: translate(0px);
  }
}
@keyframes top-butterfly-2 {
  0% {
    margin-left: -242vw;
  }
  100% {
    margin: 0vw;
  }
}
@keyframes circle-mind-1 {
  0% {
    fill: #ff00e5;
  }
  50% {
    fill: #00ffe0;
  }
  100% {
    fill: #ff00e5;
  }
}
@keyframes circle-mind-2 {
  0% {
    fill: #00ffe0;
  }
  50% {
    fill: #ff00e5;
  }
  100% {
    fill: #00ffe0;
  }
}
@keyframes circle-mind-3 {
  0% {
    fill: none;
  }
  50% {
    fill: #ff00e5;
    stroke: #ff00e5;
  }
  100% {
    fill: none;
  }
}
@keyframes circle-mind-4 {
  0% {
    fill: none;
  }
  50% {
    fill: #ff00e5;
    /* stroke: #ff00e5; */
  }
  100% {
    fill: none;
  }
}
@keyframes left-column-mind {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: 10vw;
  }
  100% {
    margin-left: 0;
  }
}
.left-column-mind:hover {
  animation-play-state: paused;
}
