body {
  background-color: #413f53;
  display: block;
  margin: 0 auto;
  width: 1440px;
  height: 3222px;
  border: white 2px solid;
  /* - убрать после написания кода */
}
/* секция с заголовком */
.header {
  margin-top: 40px;
}
/* текст заголовка */
#header-text {
  font-family: Yagiza;
  font-size: 103px;
  color: #ff00e5;
  text-align: center;
}
/* секция с data capture */
.data-capture {
  display: flex;
  margin: 20px 20px 40px 20px;
}
/* блок левой колонки и фон*/
.left-column {
  background-color: #22212c;
  border: black 2px solid;
  width: 656px;
  height: 656px;
  background-image: url(../images/first-butterfly-with-skeleton.svg);
}
/* картинка сканнера и анимация */
img.cross-scanner {
  width: 656px;
  height: 656px;
  animation-play-state: running;
  animation: 3s linear 0s normal none infinite running cross-scanner;
}
/* правая колонка */
.right-column {
  display: flex;
  flex-direction: column;
  height: 656px;
  width: 717px;
  margin-left: 20px;
}
/* текстовый блок data capture */
.text-data-capture {
  font-family: DigiGraphics;
  font-size: 57px;
  color: #00ffe0;
}
/* бокс бегущей линии сердцебиения */
.heartline {
  border: black 2px solid;
  height: 239px;
  width: 717px;
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
}
/* картинка с линией и бегущая анимация */
img.img-heartline {
  height: 243px;
  width: 1649px;
  position: absolute;
  animation: img-heartline 3s infinite linear;
  animation-play-state: running;
}
/* общий блок снизу с двумя квадратами */
.two-squares {
  display: flex;
  height: 338px;
  width: 717px;
}
/* блок с днями и контур*/
.days {
  height: 338px;
  width: 352px;
  border: black 2px solid;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../images/bar.svg);
  background-size: 300px 300px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: relative;
}
/* подпись 5/25 days */
.days h2 {
  font-family: DigiGraphics;
  font-size: 43px;
  color: #00ffe0;
}
/* постепенно исчезающие деления графика  */
.bar-color-1 {
  position: absolute;
  top: 242px;
  left: 52px;
  animation: bar-color-1 200ms linear infinite;
  animation-delay: 4s;
}
.bar-color-2 {
  position: absolute;
  top: 105px;
  left: 19px;
  animation: bar-color-2 500ms linear both;
  animation-delay: 3s;
}
.bar-color-3 {
  position: absolute;
  top: 18px;
  left: 51px;
  animation: bar-color-3 500ms linear both;
  animation-delay: 2s;
}
.bar-color-4 {
  position: absolute;
  top: 20px;
  left: 182px;
  animation: bar-color-4 500ms linear both;
  animation-delay: 1s;
}
.bar-color-5 {
  position: absolute;
  left: 276px;
  top: 108px;
  animation: bar-color-5 1s linear both;
  animation-delay: 100ms;
}
/* цветные при наведении деления графика */
.bar-color-1-1 {
  position: absolute;
  top: 242px;
  left: 52px;
  opacity: 0%;
}
.bar-color-2-1 {
  position: absolute;
  top: 105px;
  left: 19px;
  opacity: 0%;
}
.bar-color-3-1 {
  position: absolute;
  top: 18px;
  left: 51px;
  opacity: 0%;
}
.bar-color-4-1 {
  position: absolute;
  top: 20px;
  left: 182px;
  opacity: 0%;
}
.bar-color-5-1 {
  position: absolute;
  left: 276px;
  top: 108px;
  opacity: 0%;
}
/* второй квадрат */
.second-square {
  height: 338px;
  width: 352px;
  border: black 2px solid;
}
/* второй квадрат верхний бокс с диаграммой */
.bar-chart {
  height: 169px;
  border-bottom: black 2px solid;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
}
/* все боксы с розовым контуром */
.bar-chart > div {
  border: #ff00e5 2px solid;
  border-radius: 6px;
  width: 30px;
  margin: 14px 5px;
}
/* анимации и расположение боксов с розовым контуром  */
#graph-1 {
  height: 84px;
  margin-left: 11px;
  animation: graph-1 400ms infinite linear;
  animation-delay: 100ms;
  animation-play-state: running;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#graph-2 {
  animation: graph-2 400ms infinite linear;
  animation-delay: 50ms;
  animation-play-state: running;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#graph-3 {
  animation: graph-3 400ms infinite linear;
  animation-delay: 150ms;
  animation-play-state: running;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#graph-4 {
  animation: graph-4 400ms infinite linear;
  animation-delay: 200ms;
  animation-play-state: running;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#graph-5 {
  animation: graph-5 400ms infinite linear;
  animation-delay: 400ms;
  animation-play-state: running;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#graph-6 {
  animation: graph-6 400ms infinite linear;
  animation-delay: 300ms;
  animation-play-state: running;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#graph-7 {
  animation: graph-7 400ms infinite linear;
  animation-delay: 350ms;
  animation-play-state: running;
  margin-right: 11px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
/* бирюзовые боксы внутри  */
#blue-graph-1 {
  width: 70%;
  height: 82%;
  border-radius: 6px;
  background-color: #00ffe0;
  margin-bottom: 5px;
}
#blue-graph-2 {
  width: 70%;
  height: 82%;
  border-radius: 6px;
  background-color: #00ffe0;
  margin-bottom: 5px;
}
#blue-graph-3 {
  width: 70%;
  height: 86%;
  border-radius: 6px;
  background-color: #00ffe0;
  margin-bottom: 5px;
}
#blue-graph-4 {
  width: 70%;
  height: 82%;
  border-radius: 6px;
  background-color: #00ffe0;
  margin-bottom: 5px;
}
#blue-graph-5 {
  width: 70%;
  height: 52%;
  border-radius: 6px;
  background-color: #00ffe0;
  margin-bottom: 5px;
}
#blue-graph-6 {
  width: 70%;
  height: 70%;
  border-radius: 6px;
  background-color: #00ffe0;
  margin-bottom: 5px;
}
#blue-graph-7 {
  width: 70%;
  height: 60%;
  border-radius: 6px;
  background-color: #00ffe0;
  margin-bottom: 5px;
}
/* бокс бегущей строки с днк */
.DNA {
  height: 169px;
  overflow: hidden;
}
/* картинка бегущей строки */
img.img-DNA {
  height: 134px;
  margin-top: 17px;
  animation: img-DNA 3s infinite linear;
  animation-play-state: running;
}
