html {
  background-color: #413f53;
  display: block;
  width: 100vw;
}

/* секция с заголовком */
.header {
  padding-top: 1.389vw;
  box-sizing: border-box;
}
/* текст заголовка */
#header-text {
  font-family: Yagiza;
  font-size: 7.2vw;
  color: #ff00e5;
  text-align: center;
}

/* секция с data capture */
.data-capture {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  width: 100%;
  height: 48.333vw;
  padding: 1.389vw;
  box-sizing: border-box;
}

/* блок левой колонки и фон*/
.left-column {
  background-color: #22212c;
  border: black 0.25vw solid;
  background-image: url(../images/first-butterfly-with-skeleton.svg);
  background-size: contain;
  height: 45.556vw;
  width: 45.556vw;
  box-sizing: border-box;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

/* картинка сканнера и анимация */
img.cross-scanner {
  width: 100%;
  height: 100%;
  animation-play-state: running;
  animation: 3s linear 0s normal none infinite running cross-scanner;
}

/* блок правой колонки */
.right-column {
  display: flex;
  flex-direction: column;
  height: 45.556vw;
  width: 50.278vw;
  padding-left: 1.39vw;
}

/* текстовый блок data capture */
.text-data-capture {
  font-family: DigiGraphics;
  font-size: 3.96vw;
  color: #00ffe0;
}

/* бокс бегущей линии сердцебиения */
.heartline {
  border: black 0.25vw solid;
  height: 17.444vw;
  width: 50.278vw;
  position: relative;
  margin-bottom: 1.389vw;
  overflow: hidden;
  box-sizing: border-box;
  background-image: url(../images/line\ mobile.svg);

  background-size: auto 90%;
  background-repeat: repeat-x;
  background-position-y: 50%;

  animation: img-heartline 18s infinite linear;
  animation-play-state: running;
}
/* картинка с линией и бегущая анимация */
img.img-heartline {
  height: 100%;
  width: 116vw;
  position: absolute;
  animation: img-heartline 3s infinite linear;
  animation-play-state: running;
}

/* общий блок снизу с двумя квадратами */
.two-squares {
  display: flex;
  height: 23.403vw;
  width: 50.278vw;
}

/* блок pie-chart (диаграмма)
 с днями и контуром */
.days {
  position: relative;
  height: 98%;
  width: 48%;
  border: black 0.25vw solid;
  margin-right: 1.389vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* текст 5/25 days */
.days > p {
  position: absolute;
  z-index: 11;
  font-family: DigiGraphics;
  color: #00ffe0;
  font-size: 2.7vw;
}

/* svg ховер цвет */
.pie-absolute {
  position: absolute;
  height: 100%;
  width: 80%;
  z-index: 9;
}
/* svg контур */
.pie-color {
  position: absolute;
  height: 100%;
  width: 80%;
  z-index: 10;
}

/* svg исчезающее */
.pie-invisible {
  position: absolute;
  width: 80%;
  height: 100%;
}
/* анимация для svg исчезающая  */
.pie-invisible-5 {
  animation: dissapears 200ms linear infinite;
  animation-delay: 4s;
}
.pie-invisible-4 {
  animation: dissapears 500ms linear both;
  animation-delay: 3s;
}
.pie-invisible-3 {
  animation: dissapears 500ms linear both;
  animation-delay: 2s;
}
.pie-invisible-2 {
  animation: dissapears 500ms linear both;
  animation-delay: 1s;
}
.pie-invisible-1 {
  animation: dissapears 1s linear both;
  animation-delay: 100ms;
}

/* второй квадрат */
.second-square {
  height: 98%;
  width: 48%;
  border: black 0.25vw solid;
}

/* второй квадрат верхний бокс с bar chart */
.bar-chart {
  height: 50%;
  border-bottom: black 0.25vw solid;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
}

/* все графы с розовым контуром */
.bar-chart > div {
  border: #ff00e5 0.2vw solid;
  border-radius: 0.4vw;
  width: 9%;
  margin: 5% 2%;
}

/* анимации и расположение 
граф с розовым контуром  */
#graph-1 {
  height: 40%;
  margin-left: 11px;
  animation: graph-1 400ms infinite linear;
  animation-delay: 100ms;
  animation-play-state: running;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#graph-2 {
  animation: graph-2 400ms infinite linear;
  animation-delay: 50ms;
  animation-play-state: running;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#graph-3 {
  animation: graph-3 400ms infinite linear;
  animation-delay: 150ms;
  animation-play-state: running;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#graph-4 {
  animation: graph-4 400ms infinite linear;
  animation-delay: 200ms;
  animation-play-state: running;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#graph-5 {
  animation: graph-5 400ms infinite linear;
  animation-delay: 400ms;
  animation-play-state: running;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#graph-6 {
  animation: graph-6 400ms infinite linear;
  animation-delay: 300ms;
  animation-play-state: running;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#graph-7 {
  animation: graph-7 400ms infinite linear;
  animation-delay: 350ms;
  animation-play-state: running;
  margin-right: 11px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/* бирюзовые графы внутри  */
#blue-graph-1 {
  width: 70%;
  height: 82%;
  border-radius: 0.4vw;
  background-color: #00ffe0;
  margin-bottom: 0.4vw;
}
#blue-graph-2 {
  width: 70%;
  height: 82%;
  border-radius: 0.4vw;
  background-color: #00ffe0;
  margin-bottom: 0.4vw;
}
#blue-graph-3 {
  width: 70%;
  height: 86%;
  border-radius: 0.4vw;
  background-color: #00ffe0;
  margin-bottom: 0.4vw;
}
#blue-graph-4 {
  width: 70%;
  height: 82%;
  border-radius: 0.4vw;
  background-color: #00ffe0;
  margin-bottom: 0.4vw;
}
#blue-graph-5 {
  width: 70%;
  height: 70%;
  border-radius: 0.4vw;
  background-color: #00ffe0;
  margin-bottom: 0.4vw;
}
#blue-graph-6 {
  width: 70%;
  height: 70%;
  border-radius: 0.4vw;
  background-color: #00ffe0;
  margin-bottom: 0.4vw;
}
#blue-graph-7 {
  width: 70%;
  height: 60%;
  border-radius: 0.4vw;
  background-color: #00ffe0;
  margin-bottom: 0.4vw;
}
/* бокс бегущей строки с днк */
.DNA {
  height: 50%;
  overflow: hidden;
  display: flex;

  align-items: center;
}
/* картинка бегущей строки */
img.img-DNA {
  height: 80%;
  animation: img-DNA 3s infinite linear;
  animation-play-state: running;
}

/* секция select form */
.select-form {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 47.36vw;
  display: flex;
  flex-direction: column;
}
/* transform: translate(-571px);
}

100% {
    transform: translate(-217px); */

.select-line {
  /* background-color: #22212c; */

  position: absolute;
  height: 9vw;
  width: 268.583vw;
  animation: select-line 3s infinite linear;
  animation-play-state: running;
}
.top-butterfly {
  display: flex;
  box-sizing: border-box;
  width: 200vw;
  /* justify-content: space-evenly; */
  animation: top-butterfly 5s infinite linear;
}
.bottom-butterfly {
  display: flex;
  box-sizing: border-box;
  /* justify-content: space-evenly; */
  width: 200vw;
  animation: top-butterfly 5s infinite linear;
}
/* блоки + скелеты на бэкграунде */
.skelet-1,
.skelet-2,
.skelet-3,
.skelet-4,
.skelet-5,
.skelet-6,
.skelet-7,
.skelet-8,
.skelet-9,
.skelet-10,
.skelet-1-1,
.skelet-2-1,
.skelet-3-1,
.skelet-4-1,
.skelet-5-1,
.skelet-6-1,
.skelet-7-1,
.skelet-8-1,
.skelet-9-1,
.skelet-10-1 {
  margin-right: 1.389vw;
  box-sizing: border-box;
  border: black 0.25vw solid;
  /* width: 17.066vw;
  height: 17.066vw; */
  /* width: 30.49vw;
  height: 30.49vw; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-color: #22212c;
  display: flex;
  align-items: center;
}
/* картинки розовые бабочки */
.skelet-1 > img,
.skelet-2 > img,
.skelet-3 > img,
.skelet-4 > img,
.skelet-5 > img,
.skelet-6 > img,
.skelet-7 > img,
.skelet-8 > img,
.skelet-9 > img,
.skelet-10 > img,
.skelet-1-1 > img,
.skelet-2-1 > img,
.skelet-3-1 > img,
.skelet-4-1 > img,
.skelet-5-1 > img,
.skelet-6-1 > img,
.skelet-7-1 > img,
.skelet-8-1 > img,
.skelet-9-1 > img,
.skelet-10-1 > img {
  width: 100%;
  height: 100%;
}

/* репозиторий обновись пэж */

.text-select-form {
  height: 9.85vw;
  width: 100%;
  padding: 1.389vw 0;
  display: flex;
  align-items: center;
  position: relative;
}
.text-select-form > p {
  position: absolute;
  font-family: DigiGraphics;
  color: #00ffe0;
  font-size: 1.67vw;
  width: 256.583vw;

  animation: infinite linear 8s text-line;
}
.circle {
  fill: #ff00e5;
  animation: circle 500ms infinite linear;
  animation-delay: 1s;
}
