html {
  background-color: #413f53;
  display: block;
  width: 100vw;
}

/* секция с заголовком */
.header {
  padding-top: 1.389vw;
  box-sizing: border-box;
}
/* текст заголовка */
#header-text {
  font-family: Yagiza;
  font-size: 7.2vw;
  color: #ff00e5;
  text-align: center;
}

/* секция с data capture */
.data-capture {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  height: 48.333vw;
  padding: 1.389vw;
  box-sizing: border-box;
}

/* блок левой колонки и фон*/
.left-column {
  background-color: #22212c;
  border: black 0.25vw solid;
  background-image: url(../images/first-butterfly-with-skeleton.svg);
  background-size: contain;
  height: 45.556vw;
  width: 45.556vw;
  box-sizing: border-box;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

/* картинка сканнера и анимация */
img.cross-scanner {
  width: 100%;
  height: 100%;
  animation-play-state: running;
  animation: 3s linear 0s normal none infinite running cross-scanner;
}

/* блок правой колонки */
.right-column {
  display: flex;
  flex-direction: column;
  height: 45.556vw;
  width: 50.278vw;
  padding-left: 1.39vw;
}

/* текстовый блок data capture */
.text-data-capture {
  font-family: DigiGraphics;
  font-size: 3.96vw;
  color: #00ffe0;
}

/* бокс бегущей линии сердцебиения */
.heartline {
  border: black 0.25vw solid;
  height: 17.444vw;
  width: 50.278vw;
  position: relative;
  margin-bottom: 1.389vw;
  overflow: hidden;
  box-sizing: border-box;
  background-image: url(../images/line\ mobile.svg);

  background-size: auto 90%;
  background-repeat: repeat-x;
  background-position-y: 50%;

  animation: img-heartline 18s infinite linear;
  animation-play-state: running;
}

/* общий блок снизу с двумя квадратами */
.two-squares {
  display: flex;
  height: 23.403vw;
  width: 50.278vw;
}

/* блок pie-chart (диаграмма)
 с днями и контуром */
.days {
  position: relative;
  height: 98%;
  width: 48%;
  border: black 0.25vw solid;
  margin-right: 1.389vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* текст 5/25 days */
.days > p {
  position: absolute;
  z-index: 11;
  font-family: DigiGraphics;
  color: #00ffe0;
  font-size: 2.7vw;
}

/* svg ховер цвет */
.pie-absolute {
  position: absolute;
  height: 100%;
  width: 80%;
  z-index: 9;
}
/* svg контур */
.pie-color {
  position: absolute;
  height: 100%;
  width: 80%;
  z-index: 10;
}

/* svg исчезающее */
.pie-invisible {
  position: absolute;
  width: 80%;
  height: 100%;
}
/* анимация для svg исчезающая  */
.pie-invisible-5 {
  animation: dissapears 200ms linear infinite;
  animation-delay: 4s;
}
.pie-invisible-4 {
  animation: dissapears 500ms linear both;
  animation-delay: 3s;
}
.pie-invisible-3 {
  animation: dissapears 500ms linear both;
  animation-delay: 2s;
}
.pie-invisible-2 {
  animation: dissapears 500ms linear both;
  animation-delay: 1s;
}
.pie-invisible-1 {
  animation: dissapears 1s linear both;
  animation-delay: 100ms;
}

/* второй квадрат */
.second-square {
  height: 98%;
  width: 48%;
  border: black 0.25vw solid;
}

/* второй квадрат верхний бокс с bar chart */
.bar-chart {
  height: 50%;
  border-bottom: black 0.25vw solid;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
}

/* все графы с розовым контуром */
.bar-chart > div {
  border: #ff00e5 0.2vw solid;
  border-radius: 0.4vw;
  width: 9%;
  margin: 5% 2%;
}

/* анимации и расположение 
граф с розовым контуром  */
#graph-1 {
  height: 40%;
  margin-left: 11px;
  animation: graph-1 400ms infinite linear;
  animation-delay: 100ms;
  animation-play-state: running;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#graph-2 {
  animation: graph-2 400ms infinite linear;
  animation-delay: 50ms;
  animation-play-state: running;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#graph-3 {
  animation: graph-3 400ms infinite linear;
  animation-delay: 150ms;
  animation-play-state: running;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#graph-4 {
  animation: graph-4 400ms infinite linear;
  animation-delay: 200ms;
  animation-play-state: running;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#graph-5 {
  animation: graph-5 400ms infinite linear;
  animation-delay: 400ms;
  animation-play-state: running;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#graph-6 {
  animation: graph-6 400ms infinite linear;
  animation-delay: 300ms;
  animation-play-state: running;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#graph-7 {
  animation: graph-7 400ms infinite linear;
  animation-delay: 350ms;
  animation-play-state: running;
  margin-right: 11px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/* бирюзовые графы внутри  */
#blue-graph-1 {
  width: 70%;
  height: 82%;
  border-radius: 0.4vw;
  background-color: #00ffe0;
  margin-bottom: 0.4vw;
}
#blue-graph-2 {
  width: 70%;
  height: 82%;
  border-radius: 0.4vw;
  background-color: #00ffe0;
  margin-bottom: 0.4vw;
}
#blue-graph-3 {
  width: 70%;
  height: 86%;
  border-radius: 0.4vw;
  background-color: #00ffe0;
  margin-bottom: 0.4vw;
}
#blue-graph-4 {
  width: 70%;
  height: 82%;
  border-radius: 0.4vw;
  background-color: #00ffe0;
  margin-bottom: 0.4vw;
}
#blue-graph-5 {
  width: 70%;
  height: 70%;
  border-radius: 0.4vw;
  background-color: #00ffe0;
  margin-bottom: 0.4vw;
}
#blue-graph-6 {
  width: 70%;
  height: 70%;
  border-radius: 0.4vw;
  background-color: #00ffe0;
  margin-bottom: 0.4vw;
}
#blue-graph-7 {
  width: 70%;
  height: 60%;
  border-radius: 0.4vw;
  background-color: #00ffe0;
  margin-bottom: 0.4vw;
}
/* бокс бегущей строки с днк */
.DNA {
  height: 50%;
  overflow: hidden;
  display: flex;

  align-items: center;
}
/* картинка бегущей строки */
img.img-DNA {
  height: 80%;
  animation: img-DNA 3s infinite linear;
  animation-play-state: running;
}

/* секция select form */
.select-form {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 47.36vw;
  display: flex;
  flex-direction: column;
}

.select-line {
  position: absolute;
  height: 9vw;
  width: 268.583vw;
  animation: select-line 3s infinite linear;
  animation-play-state: running;
}
.top-butterfly {
  display: flex;
  box-sizing: border-box;
  width: 200vw;
  animation: top-butterfly 5s infinite linear;
}
.bottom-butterfly {
  display: flex;
  box-sizing: border-box;
  width: 200vw;
  animation: top-butterfly 5s infinite linear;
}
/* блоки + скелеты на бэкграунде */
.skelet-1,
.skelet-2,
.skelet-3,
.skelet-4,
.skelet-5,
.skelet-6,
.skelet-7,
.skelet-8,
.skelet-9,
.skelet-10,
.skelet-1-1,
.skelet-2-1,
.skelet-3-1,
.skelet-4-1,
.skelet-5-1,
.skelet-6-1,
.skelet-7-1,
.skelet-8-1,
.skelet-9-1,
.skelet-10-1 {
  width: 19vw;
  margin-right: 1.389vw;
  box-sizing: border-box;
  border: black 0.25vw solid;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-color: #22212c;
  display: flex;
  align-items: center;
}
/* картинки розовые бабочки */
.skelet-1 > img,
.skelet-2 > img,
.skelet-3 > img,
.skelet-4 > img,
.skelet-5 > img,
.skelet-6 > img,
.skelet-7 > img,
.skelet-8 > img,
.skelet-9 > img,
.skelet-10 > img,
.skelet-1-1 > img,
.skelet-2-1 > img,
.skelet-3-1 > img,
.skelet-4-1 > img,
.skelet-5-1 > img,
.skelet-6-1 > img,
.skelet-7-1 > img,
.skelet-8-1 > img,
.skelet-9-1 > img,
.skelet-10-1 > img {
  width: 100%;
  height: 100%;
}

/* бегущая строка текста select form  */
.text-select-form {
  height: 9.85vw;
  width: 100%;
  padding: 1.389vw 0;
  display: flex;
  align-items: center;
  position: relative;
}
.text-select-form > p {
  position: absolute;
  font-family: DigiGraphics;
  color: #00ffe0;
  font-size: 1.67vw;
  width: 256.583vw;

  animation: infinite linear 8s text-line;
}

/* анимация кружочков в свг линии */
.circle {
  fill: #ff00e5;
  animation: circle 300ms infinite steps(1);
}

/* .data-capture {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    width: 100%;
    height: 48.333vw;
    padding: 1.389vw;
    box-sizing: border-box;
  }
  
  /* блок левой колонки и фон*/
/* .left-column {
    background-color: #22212c;
    border: black 0.25vw solid;
    background-image: url(../images/first-butterfly-with-skeleton.svg);
    background-size: contain;
    height: 45.556vw;
    width: 45.556vw;
    box-sizing: border-box;
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
    justify-content: center;
  } */

.mind-exploading {
  display: flex;
  width: 100vw;
  box-sizing: border-box;
  overflow: hidden;
  height: 48.333vw;
  padding: 1.389vw;
  position: relative;
}
.top {
  position: relative;
}
.chip-butterfly {
  background-color: #22212c;
  border: black 0.25vw solid;
  background-image: url(../images/background.svg);

  background-size: contain;
  height: 45.556vw;
  width: 45.556vw;
  box-sizing: border-box;
  background-repeat: no-repeat;
  overflow: hidden;
  position: absolute;
  left: 53vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chip-butterfly > svg {
  height: 93%;
  width: 93%;
}
.text-mind {
  font-family: DigiGraphics;
  font-size: 3.5vw;
  color: #00ffe0;
}
.left-column-mind {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 51.523vw;
  height: 34.556vw;

  animation: 2s linear infinite left-column-mind;
  animation-play-state: running;
}
.gadget {
  /* background-image: url(../images/gadget.svg);
  background-size: contain;
  background-repeat: no-repeat; */
  position: absolute;

  width: 51.523vw;
  height: 34.556vw;
}
.gadget > p {
  position: absolute;
  left: 14.5vw;
  top: 9vw;
}
.gadget > svg {
  width: 52.523vw;
  height: 34.556vw;
}

.circle-mind-1 {
  animation: circle-mind-1 500ms infinite steps(1);
}
.circle-mind-2 {
  animation: circle-mind-2 500ms infinite steps(1);
}

.circles-butt-1 {
  animation: circle-mind-4 500ms infinite steps(1);
  animation-delay: 200ms;
}

.circles-butt-12 {
  animation: circle-mind-3 500ms infinite steps(1);
}

.screw-1,
.screw-2,
.screw-3 {
  position: absolute;
}
.screw-1 {
  margin-left: 7.069vw;
  margin-top: 8.833vw;
  width: 10.995vw;
  height: 10.995vw;
}
.screw-2 {
  margin-left: 13.069vw;
  margin-top: 8.833vw;
  width: 5.673vw;
  height: 5.673vw;
}
.screw-3 {
  margin-left: 16vw;
  margin-top: 8.833vw;
  width: 7.755vw;
  height: 7.755vw;
}
img.screw-1,
img.screw-2,
img.screw-3 {
  animation-play-state: running;

  animation: 3s linear 0s normal none infinite running cross-scanner;
}
.left-loading-screen {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 45.556vw;
  width: 51.6vw;
  justify-content: space-between;
}
.loading-text {
  margin-left: 36vw;
  animation: steps(1) 1s infinite linear text-print-100;
  /* animation-delay: 10s; */
}
.bottom-loading {
  height: 10vw;
  box-sizing: border-box;
  width: 49vw;
}

.box-text-loading {
  font-family: DigiGraphics;
  font-size: 2vw;
  height: 1.994vw;
  position: relative;
  display: flex;
  color: #00ffe0;
}

.load-0 {
  opacity: 0%;
  position: absolute;
  animation: text-print steps(1) 500ms forwards;
}
.load-10 {
  opacity: 0%;
  position: absolute;
  animation: text-print steps(1) 500ms forwards;
  animation-delay: 1s;
}

.load-20 {
  opacity: 0%;
  position: absolute;
  animation: text-print steps(1) 500ms forwards;
  animation-delay: 2s;
}
.load-30 {
  opacity: 0%;
  position: absolute;
  animation: text-print steps(1) 500ms forwards;
  animation-delay: 3s;
}
.load-40 {
  opacity: 0%;
  position: absolute;
  animation: text-print steps(1) 500ms forwards;
  animation-delay: 4s;
}
.load-50 {
  opacity: 0%;
  position: absolute;
  animation: text-print steps(1) 500ms forwards;
  animation-delay: 5s;
}
.load-60 {
  opacity: 0%;
  position: absolute;
  animation: text-print steps(1) 500ms forwards;
  animation-delay: 6s;
}
.load-70 {
  opacity: 0%;
  position: absolute;
  animation: text-print steps(1) 500ms forwards;
  animation-delay: 7s;
}
.load-80 {
  opacity: 0%;
  position: absolute;
  animation: text-print steps(1) 500ms forwards;
  animation-delay: 8s;
}
.load-90 {
  opacity: 0%;
  position: absolute;
  animation: text-print steps(1) 500ms forwards;
  animation-delay: 9s;
}
.load-100 {
  opacity: 0%;
  position: absolute;
  animation: text-print-100 steps(1) 500ms infinite forwards;

  animation-delay: 10s;
}
.blocks {
  height: 8.006vw;
  width: 100%;
  border: #00ffe0 0.25vw solid;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  display: flex;
}
.blocks-in-box {
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 2.001vw;
  width: 100%;
}
.block-1,
.block-2,
.block-3,
.block-3,
.block-4,
.block-5,
.block-6,
.block-7,
.block-8,
.block-9,
.block-10 {
  width: 3.5vw;
  height: 3.5vw;
  margin: 0 0.501vw;
  border-radius: 0.333vw;
  box-sizing: border-box;
  border: #ff00e5 0.25vw solid;
  background-color: #ff00e5;
}

.block-1 {
  opacity: 0%;
  animation: text-print-100 steps(1) 500ms infinite forwards;
  animation-delay: 1s;
}
.block-2 {
  opacity: 0%;
  animation: text-print-100 steps(1) 500ms infinite forwards;
  animation-delay: 2s;
}
.block-3 {
  opacity: 0%;
  animation: text-print-100 steps(1) 500ms infinite forwards;
  animation-delay: 3s;
}
.block-4 {
  opacity: 0%;
  animation: text-print-100 steps(1) 500ms infinite forwards;
  animation-delay: 4s;
}
.block-5 {
  opacity: 0%;
  animation: text-print-100 steps(1) 500ms infinite forwards;
  animation-delay: 5s;
}
.block-6 {
  opacity: 0%;
  animation: text-print-100 steps(1) 500ms infinite forwards;
  animation-delay: 6s;
}
.block-7 {
  opacity: 0%;
  animation: text-print-100 steps(1) 500ms infinite forwards;
  animation-delay: 7s;
}
.block-8 {
  opacity: 0%;
  animation: text-print-100 steps(1) 500ms infinite forwards;
  animation-delay: 8s;
}
.block-9 {
  opacity: 0%;
  animation: text-print-100 steps(1) 500ms infinite forwards;
  animation-delay: 9s;
}
.block-10 {
  opacity: 0%;
  animation: text-print-100 steps(1) 500ms infinite forwards;
  animation-delay: 10s;
}
.first-dot {
  opacity: 0%;
  animation: first-dot steps(1) 500ms infinite;
}
.second-dot {
  opacity: 0%;
  animation: second-dot steps(1) 500ms infinite;
}
.third-dot {
  opacity: 0%;
  animation: third-dot steps(1) 500ms infinite;
}
/* четвертый экран  */

.choose-a-pattern {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  height: 51.333vw;
  padding: 1.389vw;
  box-sizing: border-box;
}
.butterfly_choose {
  background-color: #22212c;
  border: black 0.25vw solid;
  background-image: url(../images/background.svg);
  background-size: contain;
  height: 48.555vw;
  width: 48.503vw;
  box-sizing: border-box;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.ruler {
  background-image: url(../images/ruler.svg);
  height: 48.555vw;
  width: 4.5vw;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 1vw;
}
.patterns-squares {
  display: flex;
  position: relative;
}
.confetti,
.diagonal-lines,
.diamonds,
.small-squares,
.small-circles {
  height: 7.393vw;
  width: 7.393vw;
  border-radius: 1.461vw;
  margin: 0.972vw 0.572vw;
  background-color: #22212c;
  border: #ff00e5 0.25vw solid;
}

.confetti {
  background-image: url(../images/confetti.svg);
  background-size: contain;

  background-repeat: no-repeat;
}
.diagonal-lines {
  background-image: url(../images/diagonal-lines.svg);
  background-size: contain;

  background-repeat: no-repeat;
}
.diamonds {
  background-image: url(../images/diamonds.svg);
  background-size: contain;

  background-repeat: no-repeat;
}
.small-squares {
  background-image: url(../images/small-squares.svg);
  background-size: contain;

  background-repeat: no-repeat;
}
.small-circles {
  background-image: url(../images/small-circles.svg);
  background-size: contain;

  background-repeat: no-repeat;
}
.butterfly-final,
.p-confetti,
.p-diagonal-lines,
.p-diamonds,
.p-small-squares,
.p-small-circles {
  position: absolute;
  top: 10vw;
  width: 45vw;
  height: 36.242vw;
}
.p-confetti,
.p-diagonal-lines,
.p-diamonds,
.p-small-squares,
.p-small-circles {
  opacity: 0%;
}
.right-column-choose {
  padding-left: 1.144vw;
  display: flex;
  box-sizing: border-box;
  width: 43.2vw;
  flex-direction: column;
}
/* текстовый блок data capture */
.text-choose-a-pattern {
  font-family: DigiGraphics;
  font-size: 3.96vw;
  color: #00ffe0;
  margin-bottom: 1.389vw;
}
.motherboard {
  border: black 0.25vw solid;
  height: 12.444vw;
  width: 42.056vw;
  margin-bottom: 1.389vw;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.running-circles {
  border: black 0.25vw solid;
  height: 12.444vw;
  width: 42.056vw;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
  position: relative;
}
.battery,
.heart,
.temperature {
  width: 13.09vw;
  height: 11.444vw;
  border: black 0.25vw solid;
}
.three-icons {
  display: flex;
  margin-top: 1.389vw;
}
.battery {
  margin-right: 1.389vw;
}
.heart {
  margin-right: 1.389vw;
}

.flashing-1 {
  animation: circle-mind-1 500ms infinite steps(1);
}
.flashing-2 {
  animation: circle-mind-1 500ms infinite steps(1);
  animation-delay: 200ms;
}
.flashing-hover:hover {
  fill: #ff00e5;
  stroke: #00ffe0;
}
.motherboard svg {
  width: 39.931vw;
  height: 9.931vw;
}
.final-run-circles {
  position: absolute;
  left: 0;
}
.line-for-run {
  width: 41.569vw;
  height: 7.917vw;
}
.pink-1 {
  /* opacity: 0%; */

  width: 2.222vw;
  height: 2.222vw;
  left: 0;
  bottom: 0;
  animation-play-state: running;

  position: absolute;
  animation: 3s linear infinite circle_1;
}
.blue-w-pink-2 {
  /* opacity: 0%; */
  width: 1.528vw;
  height: 1.528vw;
  position: absolute;
  left: 0;
  bottom: 0;
  animation-play-state: running;

  animation: 3s linear infinite circle_2;
  animation-delay: -500ms;
}

.small-blue-3 {
  /* opacity: 0%; */
  width: 0.972vw;
  height: 0.972vw;
  position: absolute;
  left: 0;
  bottom: 0;
  animation-play-state: running;

  animation: 3s linear infinite circle_3;
  animation-delay: -1000ms;
}
.big-pink-4 {
  /* opacity: 0%; */
  width: 3.819vw;
  height: 3.819vw;
  position: absolute;
  left: 0;
  bottom: 0;
  animation-play-state: running;

  animation: 3s linear infinite circle_4;
  animation-delay: -1500ms;
}
.blue-w-pink-5 {
  /* opacity: 0%; */
  width: 2.222vw;
  height: 2.222vw;
  position: absolute;
  left: 0;
  bottom: 0;
  animation-play-state: running;

  animation: 3s linear infinite circle_1;
  animation-delay: -2000ms;
}
.small-blue-6 {
  /* opacity: 0%; */
  width: 0.972vw;
  height: 0.972vw;
  position: absolute;
  left: 0;
  bottom: 0;
  animation: 3s linear infinite circle_3;
  animation-delay: -2500ms;
  animation-play-state: running;
}

.heart svg,
.battery svg,
.temperature svg {
  width: 13.194vw;
  height: 12.083vw;
}
.fill-heart {
  animation: 500ms steps(1) infinite fill-heart;
}
.fill-batt {
  animation: 500ms steps(1) infinite fill-heart;
}
.fill-temp {
  animation: 500ms steps(1) infinite fill-heart;
}
